#chat-name-truncate {
  font-weight: 700;
  font-size: 0.9rem;
  margin-right: 0.9rem;
  margin-bottom: 0px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-preview-container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-blue);
  grid-row: 2/4;
  max-height: 90.8vh;
  overflow-y: scroll;
}

.container {
  display: flex;
  flex-direction: column;
  padding-left: 1.2rem;
  align-items: start;
  justify-items: center;
}

#chat-content-truncate {
  margin-bottom: 0px;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.85rem;
  opacity: 0.8;
}

#time-container {
  text-align: center;
}

#time-text {
  font-size: 0.5rem;
}

#chosen-chat-container {
  max-height: 70vh;
  overflow-y: scroll;
  display: grid;
  grid-template-columns: auto;
  padding-right: 4rem;
  margin-left: 2rem;
  grid-row: 2/3;
  grid-column: 2/3;
  padding-top: 1rem;
}

#overall-chat-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 70px 6fr 1fr;
  grid-gap: 0px;
  grid-row: 1/4;
  grid-column: 1/2;
  height: 100%;
  overflow-y: hidden;
}

#picture-message-container {
  display: flex;
  flex-direction: row;
}

.message-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding-right: 4rem;
  grid-row: 3/4;
  grid-column: 2/3;
}

.input-btn-container {
  display: flex;
  flex-direction: row;
}

.outer-message-container {
  display: flex;
  margin: 1rem;
  flex-direction: row;
}

.user {
  justify-content: end;
  text-align: end;
  margin-right: 1rem;
}

.inner-message-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.message-info {
  font-size: 0.7rem;
  line-height: 2.5;
}

.profile-picture-message {
  display: flex;
  align-items: center;
}

.chat-headline {
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 2rem;
  background-color: var(--primary-blue);
  position: sticky;
  top: 0;
  z-index: 1;
}
