#footer-container {
  display: block;
  margin-top: auto;
  width: 100%;
  bottom: 0;
}

footer {
  display: flex;
  background-color: var(--primary-blue);
  height: 60px;
  padding: 0;
  align-items: center;
  position: relative;
  margin-top: auto;
}

#footer-text-copyright {
  color: var(--secondary-lightblue);
  margin-bottom: 0;
  padding-left: 40px;
}
